.#{$prefix}icon {
  width: 16px;
  height: 16px;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  // icon 渲染
  @each $icon in $icons {
    &-#{$icon} {
      background-image: url(icon/#{$icon}.svg);
    }
    // 菜单 icon 鼠标经过，菜单操作效果
    .#{$prefix}menu-link:active &-#{$icon},
    .#{$prefix}menu-link:hover &-#{$icon},
    .#{$prefix}menu-link-active &-#{$icon},
    .#{$prefix}menu-link-active:hover &-#{$icon} {
      background-image: url(icon/#{$icon}-on.svg);
    }
    // 菜单不可用
    .#{$prefix}menu-link-disable &-#{$icon},
    .#{$prefix}menu-link-disable:active &-#{$icon},
    .#{$prefix}menu-link-disable:hover &-#{$icon} {
      background-image: url(icon/#{$icon}-disable.svg);
    }
  }
}
