$handle-size: 78px;
$color-size: 200px + $handle-size;
$input-size: $handle-size - 21;

.#{$prefix}modal {
  border: 1px solid $border-color;
  width: 320px;
  position: absolute;
  top: 33px;
  left: calc(50% - 160px);
  z-index: 3;
  user-select: none;
  background: $white;

  &-color {
    width: 180px;
    left: calc(50% - 90px);
  }

  &-h2 {
    font-size: 12px;
    margin: 0 0 4px;
  }

  &-close {
    &::before,
    &::after {
      content: ' ';
      width: 4px;
      height: 16px;
      display: block;
      background: $icon-color;
      border-radius: 1px;
    }

    &::before {
      transform: rotate(45deg) translate(-6px, -4px);
    }

    &::after {
      transform: rotate(-45deg) translate(15px, -17px);
    }

    &-btn {
      display: block;
      padding: 8px;
      position: absolute;
      right: 10px;
      top: 6px;
      width: 2px;
      height: 2px;

      &:hover {
        & .#{$prefix}modal-close {
          &::before,
          &::after {
            background: $icon-color-hover;
          }
        }
      }
    }
  } // end   &-close ied-modal-close

  &-header {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding: 0 10px;
    display: flex;
    border-bottom: 1px solid $border-color;
    color: $color;
  }

  &-content {
    background: $bg-main;
    padding: 10px;
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    padding: 16px 0 0;
  }

  &-standard {
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
    cursor: pointer;
    font-size: 0;

    &-item {
      width: 14px;
      height: 14px;
      margin: 0 2px 0 0;
      display: inline-block;
      font-size: 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &-diy {
    display: flex;
    justify-content: space-between;

    &-box {
      height: 16px;
      width: 50%;
      border-radius: 1px;
      border: 1px solid $border-color;
      display: flex;
    }

    &-icon {
      font-size: 12px;
      text-align: center;
      color: $color;
      padding: 0 4px;
      line-height: 18px;
      background: $menu-color;
    }

    &-input {
      border: none;
      width: calc(100% - 15px);

      &:focus {
        outline: none;
      }
    }

    &-btn {
      border: 1px solid $border-color;
      border-radius: 1px;
      text-decoration: none;
      text-align: center;
      height: 16px;
      line-height: 16px;
      width: 20%;
      font-size: 12px;
      color: $color;

      &:hover {
        text-decoration: none !important;
      }
    }
  }
}
