.#{$prefix}text {
  height: calc(100% - 32px);
  width: calc(100% - 32px);
  padding: 16px;
  overflow: auto;
  color: $color;
  font-family: 'Microsoft YaHei', 'PingFangSC', 'Helvetica', sans-serif, 'Arial';

  &:focus {
    outline: none;
  }

  & strong,
  & b {
    font-weight: bold !important;
  }

  & i {
    font-style: italic !important;
  }

  & p {
    margin: 10px 0 !important;
    word-break: break-all !important;
    line-height: 1;
  }

  & blockquote {
    margin: 0 !important;
    border-left: 5px solid #ccc !important;
    padding: 10px 40px !important;
  }

  & table {
    display: table !important;
    border-collapse: separate !important;
    border-spacing: 2px !important;
  }

  &-wrap {
    border: 1px solid $border-color;
    border-top: none;
    background: $bg-main;
    height: calc(100% - 35px);
    width: calc(100% - 2px);
  }

  &-link {
    text-decoration: none;
    color: $blue;
  }

  &-img {
    cursor: move;

    &:hover {
      box-shadow: 0 0 8px $blue;
    }
  }
}
