<div class="{{prefix}}modal-h2">{{title}}</div>
<ul id="{{prefix}}{{type}}-standard{{uid}}" class="{{prefix}}modal-standard"></ul>
<div class="{{prefix}}modal-h2">{{diy}}</div>
<div class="{{prefix}}modal-diy">
  <div class="{{prefix}}modal-diy-box">
    <span class="{{prefix}}modal-diy-icon">#</span>
    <input id="{{prefix}}{{type}}-diy{{uid}}" type="tel" maxlength="6" size="6" class="{{prefix}}modal-diy-input">
  </div>
  <a id="{{prefix}}{{type}}-ok{{uid}}" class="{{prefix}}modal-diy-btn" href="javascript:;">{{ok}}</a>
  <a id="{{prefix}}{{type}}-clear{{uid}}" class="{{prefix}}modal-diy-btn" href="javascript:;">{{clear}}</a>
</div>
