<div id="{{prefix}}{{type}}-modal" class="{{prefix}}modal {{prefix}}modal-hide">
  <a id="{{prefix}}{{type}}-modal-close" href="javascript:;" class="{{prefix}}modal-close-btn">
    <i class="{{prefix}}modal-close" class="{{prefix}}modal-close"></i>
  </a>
  <div id="{{prefix}}modal-header" class="{{prefix}}modal-header">
    <a href="javascript:;" class="{{prefix}}modal-title {{prefix}}modal-title-active">{{lang}}</a>
  </div>
  <div id="{{prefix}}modal-box" class="{{prefix}}modal-box">
    <div id="{{prefix}}{{type}}-modal-content" class="{{prefix}}modal-content {{prefix}}modal-content-url">
      内容
    </div>
  </div>
</div>
